<%= error_messages_for 'activity_report_settings' %>

<% errors = [] %>
<% errors << l('activity_report.enable_module') unless @project.module_enabled?(:activity_report) %>

<% if errors.empty? %>
    <%= form_tag(
            {controller: :activity_report, action: :save_settings, project_id: @project, tab: 'activity_report_settings'},
            method: :put, class: 'tabular', multipart: true, id: 'activity_report_settings') do %>
        <div class="box">
          <p>
            <%= check_box_tag 'activity_report_settings[with_subprojects]', '1',
                              @project.activity_report_settings.try(:[], 'with_subprojects').present?,
                              id: 'activity_report_settings_with_subprojects'
            %>
            <%= label_tag 'activity_report_settings[with_subprojects]', t('activity_report.settings.with_subprojects') %>
          <fieldset class="box tabular">
            <ul>
              <% @activity = Redmine::Activity::Fetcher.new(User.current, :project => @project,
                                                            :with_subprojects => true,
                                                            :author => User.current)
                 @activity.event_types.each do |t| %>
                  <li>
                    <%= check_box_tag "activity_report_settings[show_#{t}]", 1, @project.activity_report_settings.try(:[], "show_#{t}").present? %>
                      <%= l("label_#{t.singularize}_plural") %>
                  </li>
              <% end %>
            </ul>
          </fieldset>
          </p>

          <% if @project.users.present? %>
              <fieldset class="box tabular">
                <legend><%= t 'activity_report.settings.daily_activity_user_ids' %></legend>
                <% @project.users.each do |user| %>
                    <label class="floating">
                      <%= check_box_tag 'activity_report_settings[daily_activity_user_ids][]', user.id, @project.daily_activity_user_ids.try(:include?, user.id.to_s), :id => nil %>
                      <%= user %>
                    </label>
                <% end %>
                <%= hidden_field_tag 'activity_report_settings[daily_activity_user_ids][]', '' %>

                <fieldset class="box tabular">
                  <legend><%= t 'activity_report.settings.report_user_ids' %></legend>
                  <% @project.users.each do |user| %>
                      <label class="floating">
                        <%= check_box_tag 'activity_report_settings[daily_report_user_ids][]', user.id, @project.daily_report_user_ids.try(:include?, user.id.to_s), :id => nil %>
                        <%= user %>
                      </label>
                  <% end %>
                  <%= hidden_field_tag 'activity_report_settings[daily_report_user_ids][]', '' %>
                </fieldset>
              </fieldset>

              <fieldset class="box tabular">
                <legend><%= t 'activity_report.settings.weekly_activity_user_ids' %></legend>
                <% @project.users.each do |user| %>
                    <label class="floating">
                      <%= check_box_tag 'activity_report_settings[weekly_activity_user_ids][]', user.id, @project.weekly_activity_user_ids.try(:include?, user.id.to_s), :id => nil %>
                      <%= user %>
                    </label>
                <% end %>
                <%= hidden_field_tag 'activity_report_settings[weekly_activity_user_ids][]', '' %>
                <fieldset class="box tabular">
                  <legend><%= t 'activity_report.settings.report_user_ids' %></legend>
                  <% @project.users.each do |user| %>
                      <label class="floating">
                        <%= check_box_tag 'activity_report_settings[weekly_report_user_ids][]', user.id, @project.weekly_report_user_ids.try(:include?, user.id.to_s), :id => nil %>
                        <%= user %>
                      </label>
                  <% end %>
                  <%= hidden_field_tag 'activity_report_settings[weekly_report_user_ids][]', '' %>
                </fieldset>
              </fieldset>

              <fieldset class="box tabular">
                <legend><%= t 'activity_report.settings.monthly_activity_user_ids' %></legend>
                <% @project.users.each do |user| %>
                    <label class="floating">
                      <%= check_box_tag 'activity_report_settings[monthly_activity_user_ids][]', user.id, @project.monthly_activity_user_ids.try(:include?, user.id.to_s), :id => nil %>
                      <%= user %>
                    </label>
                <% end %>
                <%= hidden_field_tag 'activity_report_settings[monthly_activity_user_ids][]', '' %>

                <fieldset class="box tabular">
                  <legend><%= t 'activity_report.settings.report_user_ids' %></legend>
                  <% @project.users.each do |user| %>
                      <label class="floating">
                        <%= check_box_tag 'activity_report_settings[monthly_report_user_ids][]', user.id, @project.monthly_report_user_ids.try(:include?, user.id.to_s), :id => nil %>
                        <%= user %>
                      </label>
                  <% end %>
                  <%= hidden_field_tag 'activity_report_settings[monthly_report_user_ids][]', '' %>
                </fieldset>
              </fieldset>
          <% end %>

        </div>
        <div style="clear:both;"></div>

        <%= submit_tag l(:button_save) %>

    <% end %>

<% else %>
    <p class="nodata"><%= errors.join('<br/>').html_safe %></p>
<% end %>
